main {
  min-height: 85vh;
}

.rating span {
  margin: 0.2rem;
}

h1 {
  font-size: 1.9rem;
  padding: 1rem 0;
}

h3 {
  padding: 1rem 0;
}

/* ----------- BUTTONS ---------- */
.button-cust {
  box-shadow: 3px 5px 9px 1px #8b9ca3;
  background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color: #33bdef;
  border-radius: 9px;
  border: 1px solid #057fd0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 22px;
  margin: 7px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #5b6178;
}
.button-cust:hover {
  background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color: #019ad2;
}
.button-cust:active {
  position: relative;
  top: 1px;
}

.pagination {
  display: flex;
  justify-content: center;
}

/* --- SCROLLER ---- */

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 280px;
  padding: 30px;
  margin: 40px;
  border-radius: 80%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 3.4vw;
  }
}
